body{
    background-color: #F8F6E3;
}

.chapter{
    width: 394px;
    height: 82px;
    font-size: inherit;
    line-height: 189%;
    font-weight: 400;
    font-size: 25px;
    font-family: var(--font-oswald);
    max-width: 100%;
    margin-top: 30px;
}
.mainSec{
    display: flex;
    justify-content: center;
}
.ContentSec{
    margin-left: 10px;
}
.otherTxt{
    font-size: inherit;
    font-family: var(--font-oswald);
    font-size: 20px;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}
